<h1>Courriers à distribuer</h1>

<alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div class="well">
    <div class="input-prepend" ng-show="allMails.length">
        <span class="add-on"><i class="icon-search"></i></span>
        <input type="text" ng-model="searchMailCriterion" placeholder="Rechercher"/>
    </div>
    <div ng-hide="allMails.length">
        Aucun courrier à remettre.
    </div>
    <div ng-show="allMails.length && !filteredMails.length">
        Aucun courrier pour cette personne.
    </div>
</div>

    <table class="table table-striped" ng-show="filteredMails.length">
        <thead>
        <tr>
            <th class="span3">Destinataire</th>
            <th class="span2">Date d'arrivée</th>
            <th class="span3">Expéditeur</th>
            <th class="span3">Fin de domiciliation</th>
            <th class="span1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="m in filteredMails = (allMails | filter:searchMailCriterion)">
            <td>{{m.recipient.display}}</td>
            <td>{{m.arrivalDate | localDate}}</td>
            <td>{{m.sender}}</td>
            <td>
                <span residence-progress="m.recipient.residenceProgress">
                    {{m.recipient.latestResidence.endDate | localDate}}
                </span>
            </td>
            <td>
                <button ng-click="withdraw(m)" class="btn btn-mini">Remettre</button>
            </td>
        </tr>
        </tbody>
    </table>

