<form class="form-horizontal" ng-submit="createResidence()">
    <div class="modal-header">
        <h1>Nouvelle domiciliation</h1>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="control-group">
            <label class="control-label">Type de domiciliation</label>

            <div class="controls">
                <select ng-model="residence.residenceType.key"
                        ng-options="residenceType.key as residenceType.value for residenceType in residenceTypes"></select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Date de début</label>

            <div class="controls">
                <div class="input-append">
                    <input type="text" ng-model="residence.startDate" bs-datepicker>
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn">Annuler</button>
        <button type="submit" class="btn btn-primary">Créer</button>
    </div>
</form>
