<h1>Domiciliés</h1>

<alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div class="form-actions">

    <a class="btn" ng-click="newResidentDialog()">Nouveau domicilié</a>

</div>

<div class="well">
    <div class="input-prepend" ng-show="allResidents.length">
        <span class="add-on"><i class="icon-filter"></i></span>
        <input type="text" ng-model="searchResidentCriterion" placeholder="Filtrer la liste"/>
    </div>
    <div ng-hide="allResidents.length">
        Aucun domicilié dans l'application.
    </div>
    <div ng-show="allResidents.length && !filteredResidents.length">
        Aucun domicilié ne correspond au critère.
    </div>
    <table class="table table-striped" ng-show="allResidents.length">
        <thead>
        <tr>
            <th class="span1"></th>
            <th class="span4"><a ng-click="tableSortPredicate = 'lastName'; tableSortReverse = !tableSortReverse;">Nom</a></th>
            <th class="span4"><a ng-click="tableSortPredicate = 'firstName'; tableSortReverse = !tableSortReverse;">Prénom</a></th>
            <th class="span3">Futur blabla</th>
        </tr>
        </thead>
        <tbody ng-repeat="r in filteredResidents = (allResidents | filter:searchResidentCriterion | orderBy:tableSortPredicate:tableSortReverse)">
        <tr>
            <td><a ng-href="#/resident/{{r.id}}"><i class="icon-eye-open"></i></a></td>
            <td>{{r.lastName}}</td>
            <td>{{r.firstName}}</td>
            <td>Rien</td>
        </tr>
        </tbody>
    </table>
</div>
