<h1>{{resident.firstName}} {{resident.lastName}}</h1>

<h2>Informations de base</h2>

<table class="table">
    <tr>
        <td>Date de naissance</td>
        <td>{{resident.birthDate | moment}}</td>
    </tr>
    <tr>
        <td>Pôle</td>
        <td>{{resident.followingDepartment}}</td>
    </tr>
    <tr>
        <td>Suivi par</td>
        <td>{{resident.followedBy}}</td>
    </tr>
</table>


<h2>Domiciliation</h2>

<button class="btn btn-primary btn-small" ng-click="renewLatestResidence()">
    <i class="icon-refresh icon-white"></i> Renouveler la dernière domiciliation
</button>
<button class="btn btn-small" ng-click="newResidenceDialog()">Nouvelle domiciliation</button>

<div class="well" ng-hide="resident.residences.length">
    Aucune domiciliation connue.
</div>


<table class="table table-striped" ng-show="resident.residences.length">
    <thead>
        <tr>
            <th class="span3">Type</th>
            <th class="span3">Date de début</th>
            <th class="span3">Date de fin</th>
            <th class="span3">Suivi courrier</th>
        </tr>
    </thead>
    <tbody ng-repeat="res in resident.residences">
        <tr>
            <td>{{res.residenceType}}</td>
            <td>{{res.startDate | moment}}</td>
            <td>{{res.endDate | moment}}</td>
            <td>{{res.mailForwardAddress}}</td>
        </tr>
    </tbody>
</table>

