<h1>{{person.display}}</h1>

<alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<form class="form-horizontal" ng-submit="updatePerson()">

    <div class="control-group">
        <label class="control-label" for="followingDepartment">Pôle</label>

        <div class="controls">
            <select ng-model="person.followingDepartment.key"
                    ng-options="dep.key as dep.value for dep in departments"
                    id="followingDepartment"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="followedBy">Suivi par</label>

        <div class="controls">
            <input type="text" ng-model="person.followedBy" id="followedBy" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="forwardAddress">Adresse de suivi du courrier</label>

        <div class="controls">
            <textarea rows="5" ng-model="person.forwardAddress" id="forwardAddress" ng-disabled="!person.forwardAddressActive"></textarea>
            <label class="checkbox">
                <input type="checkbox" inverted ng-model="person.forwardAddressActive"/> Arrêter le suivi du courrier
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a ng-href="#/person/{{person.id}}" class="btn">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </div>
    </div>
</form>
