<form class="form-horizontal" ng-submit="createPerson()">
    <div class="modal-header">
        <h1>Inscription d'une personne</h1>
    </div>
    <div class="modal-body">

        <alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="control-group">
            <label class="control-label">Genre</label>

            <div class="controls" ng-repeat="gender in genders">
                <label class="radio">
                    <input type="radio" name="person.gender" ng-model="person.gender" ng-value="gender.key"/>
                    {{gender.value}}
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Prénom</label>

            <div class="controls">
                <input type="text" ng-model="person.firstName" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nom</label>

            <div class="controls">
                <input type="text" ng-model="person.lastName" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nom de jeune fille</label>

            <div class="controls">
                <input type="text" ng-model="person.maidenName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Date de naissance</label>

            <div class="controls">
                <div class="input-append">
                    <input type="text" ng-model="person.birthDate" bs-datepicker>
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Pôle</label>

            <div class="controls">
                <select ng-model="person.followingDepartment"
                        ng-options="dep.key as dep.value for dep in departments"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Suivi par</label>

            <div class="controls">
                <input type="text" ng-model="person.followedBy" required/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn">Annuler</button>
        <button type="submit" class="btn btn-primary">Créer</button>
    </div>
</form>
