<h1>Personnes</h1>

<alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div class="well">
    <a class="btn pull-right" ng-click="newPersonDialog()">Inscrire une personne</a>

    <div class="input-prepend" ng-show="allPersons.length">
        <span class="add-on"><i class="icon-search"></i></span>
        <input type="text" ng-model="searchPersonCriterion" placeholder="Rechercher"/>
    </div>
    <div ng-hide="allPersons.length">
        Aucune personne dans l'application.
    </div>
    <div ng-show="allPersons.length && !filteredPersons.length">
        Aucune personne ne correspond au critère.
    </div>
</div>

<table class="table table-hover" ng-show="filteredPersons.length">
    <thead>
    <tr>
        <th class="span1"></th>
        <th class="span3"><a ng-click="setSortCriterion('lastName')">Nom</a></th>
        <th class="span3"><a ng-click="setSortCriterion('firstName')">Prénom</a></th>
        <th class="span3"><a ng-click="setSortCriterion('orientation')">Orientation</a></th>
        <th class="span2"><a ng-click="setSortCriterion('latestResidence.endDateSortOrder')">Fin de domiciliation</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="r in filteredPersons = (allPersons | filter:searchPersonCriterion | orderBy:tableSortPredicate:tableSortReverse)">
        <td>
            <a class="pull-right" ng-href="#/person/{{r.id}}"><i class="icon-eye-open"></i></a>
            <i class="icon-lock " ng-hide="r.isFollowed" title="Cette personne n'est pas suivie par l'association" ></i>
        </td>
        <td>{{r.lastName}}</td>
        <td>{{r.firstName}}</td>
        <td>{{r.orientation}}</td>
        <td>
            <span residence-progress="r.residenceProgress">
                {{r.latestResidence.endDate | localDate}}
            </span>
        </td>
    </tr>
    </tbody>
</table>

