<h1>{{person.display}}</h1>

<div class="alert" ng-hide="person.isFollowed">
    <i class="icon-info-sign"></i> Cette personne n'est pas suivie par l'association.
</div>

<alert ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<p>
    <a ng-href="#/person/{{person.id}}/edit"><i class="icon-edit"></i> Modifier la fiche</a>

</p>

<div class="row-fluid">
    <div class="span8">
        <h2>Domiciliation</h2>

        <div ng-show="person.currentResidence">
            La domiciliation en cours se termine dans {{person.currentResidence.monthsToEnd}} mois
            ({{person.currentResidence.endDate | localDate}}).
            <progress value="residenceProgress"></progress>
        </div>

        <div class="well">
            <span ng-hide="person.residences.length">
                Aucune domiciliation connue.
            </span>

            <table class="table" ng-show="person.residences.length">
                <thead>
                <tr>
                    <th class="span4">Type</th>
                    <th class="span4">Date de début</th>
                    <th class="span4">Date de fin</th>
                </tr>
                </thead>
                <tbody ng-repeat="res in person.residences">
                <tr class="{{getResidenceClass(res)}}">
                    <td>{{res.residenceType | staticList}}</td>
                    <td>{{res.startDate | localDate}}</td>
                    <td>{{res.endDate | localDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="span4">
        <div class="well">
            <button class="btn btn-block" ng-click="unfollow()" ng-show="person.isFollowed">
                <i class="icon-stop"></i> Interrompre le suivi de cette personne
            </button>
            <button class="btn btn-block" ng-click="follow()" ng-hide="person.isFollowed">
                <i class="icon-forward"></i> Reprendre le suivi de cette personne
            </button>
            <hr/>
            <button class="btn btn-primary btn-block" ng-click="renewLatestResidence()"
                    ng-show="person.residences.length">
                <i class="icon-refresh icon-white"></i> Renouveler la dernière domiciliation
            </button>
            <button class="btn btn-block" ng-click="newResidenceDialog()">Nouvelle domiciliation</button>
        </div>
        <div class="well">
            <h3>Fiche d'identité</h3>
            <table class="table">
                <tr>
                    <td>Date de naissance</td>
                    <td>{{person.birthDate | localDate}}</td>
                </tr>
                <tr>
                    <td>Pôle</td>
                    <td>{{person.followingDepartment | staticList}}</td>
                </tr>
                <tr ng-show="person.followedBy">
                    <td>Suivi par</td>
                    <td>{{person.followedBy}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
